<app-user-navbar></app-user-navbar>
<div class="container">
    <div class="row" style="margin-top: 1%; margin-bottom: 1%">
        <div style="position: absolute; right: 2%; width: 92%; text-align: right;">
            <button type="button"  class="btn btn-primary"  (click)="openAddUserModal()">Add<i class="bi bi-plus"></i></button>&nbsp;
            <button class="btn btn-dark" onclick="window.history.back()"><i class="bi bi-arrow-left-short"></i>&nbsp;Back</button>

        </div>
    </div>
</div>
<div style="margin-top: 3%; margin-bottom: initial" class="d-flex align-items-center justify-content-center">
    <h4 style="font-weight: bold">USER MASTER</h4>
</div>
<ngx-datatable
class="material"
  [rows]="data"
  columnMode="force"
  [headerHeight]="55" 
  [footerHeight]="50" 
  [rowHeight]="'auto'"
  [count]="count" [limit]="8" [offset]="0" (page)="setPage($event)"

>
  <ngx-datatable-column name="User Id" prop="USER_ID"></ngx-datatable-column>
  <ngx-datatable-column name="User Name" prop="USER_NAME"></ngx-datatable-column>
  <ngx-datatable-column name="Password" prop="USER_PASSWORD"></ngx-datatable-column>
  <ngx-datatable-column name="Type" prop="USER_TYPE"></ngx-datatable-column>
 
  <ngx-datatable-column name="Action">
    <ng-template ngx-datatable-cell-template let-row="row">
      <button class="btn btn-warning btn-sm" (click)="openAddUserModal(row)" >Edit</button>&nbsp;  
      <button class="btn btn-danger btn-sm" (click)="deleteUserMaster(row.USER_ID)">Delete</button>
    </ng-template>
  </ngx-datatable-column>
 
</ngx-datatable>

