@{
    Layout = "_LayoutUser";

}
@section Style {
    <link href="~/css/home.css" rel="stylesheet" />
}
<div class="container center-content">
    <h1 style="font-family: serif; font-weight: bold; color:#10898d">Hello, User</h1>
</div>