@{
    Layout = "_LayoutSurveyor";

}
@section Style {
    <link href="~/css/dashboard.css" rel="stylesheet" />
}
<div class="container center-content">
    <img src="~/images/surveyorbackground.jpg" />
</div>